/* screen - chat-page */

.chat-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.chat-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 34px;
  min-height: 840px;
  width: 307px;
}

.chat-page .jungle-container {
  height: 97px;
  margin-right: 0.15px;
  position: relative;
  width: 289px;
}

.chat-page .jungle3-1 {
  height: 97px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 96px;
}

.chat-page .jungle {
  left: 96px;
  letter-spacing: -0.72px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 193px;
}

.chat-page .about-me {
  height: 389px;
  margin-top: 51px;
  width: 307px;
}

.chat-page .nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9.0px;
  margin-top: 50px;
  min-height: 253px;
  width: 234px;
}

.chat-page .chat-container {
  height: 50px;
  margin-left: 4px;
  position: relative;
  width: 216px;
}

.chat-page .chat {
  height: 39px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 216px;
}

.chat-page .x-icon {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.chat-page .group-container {
  height: 50px;
  margin-left: 4px;
  margin-top: 51px;
  position: relative;
  width: 224px;
}

.chat-page .groups {
  height: 39px;
  left: 8px;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 216px;
}

.chat-page .logout-container {
  height: 50px;
  margin-top: 52px;
  position: relative;
  width: 225px;
}

.chat-page .logout {
  height: 39px;
  left: 9px;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 216px;
}

.chat-page .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 1101px;
}

.chat-page .line-left {
  height: 1024px;
  width: 1px;
}

.chat-page .overlap-group12 {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  margin-left: 1px;
  min-width: 1099px;
  padding: 0 28px;
}

.chat-page .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 14.0px;
  min-height: 946px;
  width: 602px;
}

.chat-page .search {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 96px;
  width: 592px;
}

.chat-page .search-container {
  background-color: var(--white);
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 590px;
}

.chat-page .search-for-friends {
  height: 40px;
  left: 27px;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 231px;
}

.chat-page .search-icon {
  height: 24px;
  left: 27px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.chat-page .line-under-search {
  height: 1px;
  margin-top: 39px;
  width: 590px;
}

.chat-page .chat-box {
  align-items: flex-end;
  background-image: url(../img/chat-rectangle@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 26px;
  min-height: 824px;
  padding: 24px 12px;
  width: 600px;
}

.chat-page .received-message-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 22px;
  min-width: 420px;
}

.chat-page .ellipse-1 {
  height: 54px;
  object-fit: cover;
  width: 54px;
}

.chat-page .overlap-group6 {
  align-items: center;
  background-image: url(../img/rectangle-5-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 21px;
  min-width: 343px;
  padding: 0 7px;
}

.chat-page .where-are-the-user-stories {
  height: 32px;
  letter-spacing: -0.27px;
  width: 317px;
}

.chat-page .overlap-group5 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 72px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .check-the-documentation {
  height: 44px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 275px;
}

.chat-page .received-message-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 33px;
  min-width: 420px;
}

.chat-page .overlap-group4 {
  align-items: center;
  background-image: url(../img/rectangle-5-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 21px;
  min-width: 343px;
  padding: 0 12px;
}

.chat-page .what-are-the-naming-conventions {
  height: 32px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 317px;
}

.chat-page .overlap-group3 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 51px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .received-message-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 51px;
  min-width: 382px;
}

.chat-page .overlap-group2 {
  align-items: center;
  background-image: url(../img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  margin-left: 21px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .im-not-seeing-the-updates {
  height: 32px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 264px;
}

.chat-page .overlap-group1 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 27px;
  margin-top: 57px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 6px;
  margin-top: 85px;
  min-width: 552px;
}

.chat-page .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 45px;
  min-width: 469px;
  padding: 8px 17px;
}

.chat-page .write-a-message {
  height: 27px;
  letter-spacing: -0.27px;
  width: 344px;
}

.chat-page .send-button {
  align-items: flex-start;
  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  height: 45px;
  margin-left: 17px;
  min-width: 66px;
  padding: 8px 19px;
}

.chat-page .send-icon {
  height: 28px;
  width: 28px;
}

.chat-page .line-right {
  height: 1024px;
  margin-left: 38px;
  width: 1px;
}

.chat-page .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 9.0px;
  min-height: 941px;
  width: 358px;
}

.chat-page .overlap-group1-1 {
  height: 445px;
  position: relative;
  width: 358px;
}

.chat-page .x-rectangle {
  background-color: var(--white);
  border-radius: 15px;
  height: 445px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 348px;
}

.chat-page .friend-3 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 243px;
  position: absolute;
  top: 291px;
}

.chat-page .friend {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chat-page .name {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 5px;
  text-align: center;
  width: 179px;
}

.chat-page .friend-2 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 273px;
  position: absolute;
  top: 205px;
}

.chat-page .name-1 {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 11px;
  margin-top: 8.0px;
  text-align: center;
  width: 203px;
}

.chat-page .friend-1 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 243px;
  position: absolute;
  top: 119px;
}

.chat-page .briel-larson {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 5px;
  text-align: center;
  width: 179px;
}

.chat-page .friends-icon {
  height: 40px;
  left: 294px;
  position: absolute;
  top: 22px;
  width: 40px;
}

.chat-page .friends {
  height: 44px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 164px;
}

.chat-page .line {
  height: 1px;
  left: 36px;
  position: absolute;
  top: 73px;
  width: 298px;
}

.chat-page .overlap-group-1 {
  height: 445px;
  margin-top: 51px;
  position: relative;
  width: 358px;
}

.chat-page .name-2 {
  height: 31px;
  left: 114px;
  letter-spacing: -0.33px;
  position: absolute;
  text-align: center;
  top: 119px;
  width: 179px;
}

.chat-page .ellipse-1-1 {
  height: 54px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 54px;
}

.chat-page .line-under-search-1 {
  height: 1px;
  left: 39px;
  position: absolute;
  top: 73px;
  width: 298px;
}

.chat-page .group-icon {
  height: 40px;
  left: 284px;
  position: absolute;
  top: 15px;
  width: 40px;
}

.chat-page .people-in-chat {
  height: 44px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 247px;
}
