/* screen - sign-up */

.sign-up {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.sign-up .overlap-group9 {
  align-items: flex-end;
  background-image: url(../img/shape@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1158px;
  min-width: 760px;
  padding: 311px 12.6px;
}

.sign-up .image {
  height: 509px;
  width: 684px;
}

.sign-up .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  margin-top: 33px;
  min-height: 1063px;
  width: 549px;
}

.sign-up .overlap-group8 {
  align-self: flex-end;
  height: 97px;
  margin-right: 2px;
  position: relative;
  width: 289px;
}

/* *********** Logo (start) *********** */
.sign-up .jungle3-1 {
  height: 4rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4rem;
}

.sign-up .title {
  left: 50px;
  letter-spacing: -0.72px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 193px;
  font-size: var(--font-size-xxl);
}

/* *********** Logo (end) *********** */

/* *********** "Form" (begin) *********** */

.sign-up .create-account {
  align-self: center;
  color: var(--cape-cod);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: -0.54px;
  margin-left: 11px;
  margin-top: 0.7rem;
  min-height: 24px;
  text-align: center;
  width: 472px;
}

.sign-up .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  min-height: 846px;
  width: 518px;
}

.sign-up .first-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -2px;
  min-height: 88px;
  width: 487px;
}

.sign-up .first-name-1 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .span {
  letter-spacing: -0.05px;
}

.sign-up .overlap-group7 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  margin-top: 6px;
  position: relative;
  width: 468px;
}

.sign-up .rectangle-1 {
  background-color: var(--white);
  border-radius: 10px;
  height: 53px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 460px;
}

.sign-up .name {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .last-name {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 7.05px;
  margin-top: 14px;
  min-height: 82px;
  width: 486px;
}

.sign-up .last-name-1 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .password-rectangle {
  align-self: flex-end;
  background-color: #ffeaea;
  border: 1px solid #ad010b;
  border-radius: 10px;
  height: 53px;
  margin-right: 2px;
  width: 460px;
}

.sign-up .overlap-group6 {
  align-self: flex-start;
  height: 27px;
  margin-left: 25px;
  margin-top: 14px;
  position: relative;
  width: 336px;
}

.sign-up .info-icon {
  height: 20px;
  left: 23px;
  position: absolute;
  top: 3px;
  width: 24px;
}

.sign-up .please-enter-a-valid-entry {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 336px;
}

.sign-up .email {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  min-height: 90px;
  width: 508px;
}

.sign-up .email-1 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .overlap-group5 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  margin-top: 8px;
  position: relative;
  width: 468px;
}

.sign-up .john123 {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .date-of-birth {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 6.23px;
  margin-top: 14px;
  min-height: 87px;
  width: 482px;
}

.sign-up .date-of-birth-1 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .overlap-group4 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  margin-top: 5px;
  position: relative;
  width: 468px;
}

.sign-up .john123-1 {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .username {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 3.88px;
  margin-top: 14px;
  min-height: 91px;
  width: 493px;
}

.sign-up .user-name {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .overlap-group3 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  margin-top: 9px;
  position: relative;
  width: 468px;
}

.sign-up .john123-2 {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .password {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 9.77px;
  margin-top: 16px;
  min-height: 86px;
  width: 496px;
}

.sign-up .password-1 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .overlap-group2 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  margin-top: 4px;
  position: relative;
  width: 468px;
}

.sign-up .john123-3 {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .repeat-password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 3.88px;
  margin-top: 20px;
  min-height: 82px;
  width: 498px;
}

.sign-up .password-2 {
  letter-spacing: -0.27px;
  min-height: 29px;
  text-align: center;
  width: 165px;
}

.sign-up .overlap-group1 {
  align-self: flex-end;
  height: 53px;
  margin-right: 4px;
  position: relative;
  width: 468px;
}

.sign-up .john123-4 {
  left: 0;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 148px;
}

.sign-up .dont-have-an-account {
  align-self: flex-start;
  letter-spacing: -0.27px;
  margin-left: 19px;
  margin-top: 14px;
  min-height: 25px;
  text-align: center;
  width: 417px;
}

.sign-up .span0 {
  color: var(--nobel);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: -0.05px;
}

.sign-up .span1 {
  color: #0164fa;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: -0.05px;
  text-decoration: underline;
}

.sign-up .overlap-group {
  height: 54px;
  margin-right: 13.75px;
  margin-top: 14px;
  position: relative;
  width: 460px;
}

.sign-up .rectangle-3 {
  background-color: #f4996a;
  border-radius: 10px;
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 460px;
}

.sign-up .submit {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 53px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 459px;
}

/* *********** "Form" (End) *********** */
